[Desktop Entry]
Name=Update
Comment=Integrated Development Environment for Python
Exec=/usr/lib/iicontrollibs/misc/updatecupidweblibs.py
Icon=/usr/lib/iicontrollibs/misc/images/updatecupidweblibs.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Application;Development;
StartupNotify=true
