[Unit]
Description=Cupid Daemon
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/lib/iicontrollibs/cupid/cupiddaemon.py
Restart=always

[Install]
WantedBy=multi-user.target