[Desktop Entry]
Name=Update
Comment=Interface Innovations CuPID Software Update
Exec=/usr/lib/iicontrollibs/misc/updatecupidweblibs.desktop.py
Icon=/usr/lib/iicontrollibs/misc/images/updatecupidweblibs.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Application;Development;
StartupNotify=true
